<div class="container" style="background: #FFFFFF;">
  <div style="margin-bottom: 120px;">
    <img class="img-fluid" src="/assets/img/headerUSB.png" />
  </div>
  <div class="row">
    <div class="col-4">
      <div class="card" style="background: #eee;">
        <div class="card-body">
          <div class="card-title"> <b>{{ isEnglish ? title : titulo }}</b> </div>
          <hr>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
            <div>
              <label for="usbId">
                USBID:
              </label>
              <br>
              <input id="usbId" type="email" formControlName="usbId">
            </div>
          
            <div>
              <label for="clave">
                {{ isEnglish ? 'Password:' : 'Contraseña:' }}
              </label>
              <br>
              <input id="clave" type="password" formControlName="clave">
            </div>

            <div class="form-check" style="display: inline-block;">
              <input  type="checkbox" formControlName="check" id="check">
              <span>
                {{ isEnglish ? checkText : textoCheck }}
              </span>
            </div>
          
            <hr>
            <button class="button" disabled="form.invalid" type="submit">{{ isEnglish ? 'Login' : 'Iniciar Sesion'}}</button>
            |
            <span (click)="form.reset()"> {{ isEnglish ? 'Clear' : 'Limpiar'}} </span>
          </form>
        </div>
      </div>
    </div>
    <div class="col-6">
      <p style="white-space: pre-line;" >{{ isEnglish ? paragraph : parrafo }}</p>
      <div> Lenguajes: </div>
      <div> 
        <span (click)=" isEnglish = true "> English </span> |
        <span (click)=" isEnglish = false "> Spanish </span>
      </div>
    </div>
  </div>
  <div class="row"> <!-- footer -->
    <div class="col-1">Logo</div>
    <div>
      <div *ngFor="let link of links" style="display: inline;"> <a href="{{link.url}}"> {{ link.text }}</a> | </div>
      <div>{{ direccionSartenejas }}</div>
      <div>{{ direccionCamuri }}</div>
      <div>{{ contacto }}</div>
    </div>
  </div>
  <hr>
  <div> <!-- align left -->
    <div> {{rights}} </div>
    <div> Powered by <a href="https://www.apereo.org/">{{rightLink}}</a> </div>
  </div>
</div>