<div class="main-content">
  <div class="container-fluid">
   
    <div class="row">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title">Sala Seleccionada: {{ roomId }}</h4>
        </div>

        <div class="card-body">
          <mat-form-field>
            <mat-select [(ngModel)]="materia" name="materia" placeholder="Materia" required>
              <mat-option *ngFor="let option of materiasOptions" [value]="option.id"> {{ option.name }} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput [(ngModel)]="seccion" name="seccion" placeholder="Seccion" required>
          </mat-form-field>
          <mat-form-field>
            <mat-select [(ngModel)]="semanas" name="semanas" placeholder="Semanas" required (selectionChange)="onSelectSemanas()">
              <mat-option [value]="'especifica'">Especifica</mat-option>
              <mat-option [value]="'pares'">Pares</mat-option>
              <mat-option [value]="'impares'">Impares</mat-option>
              <mat-option [value]="'todas'">Todas</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="isTableReady">
      <div class="card">
        <div class="card-header card-header-info">
          <h5 class="card-title">Seleccione Horarios </h5>
        </div>

        <div class="card-body">

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="hora">
              <th mat-header-cell *matHeaderCellDef> Hora </th>
              <td mat-cell *matCellDef="let element"> {{element.hora}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="lunes">
              <th mat-header-cell *matHeaderCellDef> Lunes </th>
              <td mat-cell *matCellDef="let element"> {{element.lunes}} 
                <div class="form-check" *ngIf="element.lunes == '' || element.lunes == undefined">
                  <input type="checkbox" [(ngModel)]="element.lunesCheck">
                </div>
              </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="martes">
              <th mat-header-cell *matHeaderCellDef> Martes </th>
              <td mat-cell *matCellDef="let element"> {{element.martes}} 
                <div class="form-check" *ngIf="element.martes == '' || element.martes == undefined">
                  <input type="checkbox" [(ngModel)]="element.martesCheck">
                </div>
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="miercoles">
              <th mat-header-cell *matHeaderCellDef> Miercoles </th>
              <td mat-cell *matCellDef="let element"> {{element.miercoles}} 
                <div class="form-check" *ngIf="element.miercoles == '' || element.miercoles == undefined">
                  <input type="checkbox" [(ngModel)]="element.miercolesCheck">
                </div>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="jueves">
              <th mat-header-cell *matHeaderCellDef> Jueves </th>
              <td mat-cell *matCellDef="let element"> 
                {{element.jueves}} 
                <div class="form-check" *ngIf="element.jueves == '' || element.jueves == undefined">
                  <input type="checkbox" [(ngModel)]="element.juevesCheck">
                </div>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="viernes">
              <th mat-header-cell *matHeaderCellDef> Viernes </th>
              <td mat-cell *matCellDef="let element"> {{element.viernes}} 
                <div class="form-check" *ngIf="element.viernes == '' || element.viernes == undefined">
                  <input type="checkbox" [(ngModel)]="element.viernesCheck">
                </div>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <button type="button" class="btn btn-info btn-lg btn-block" [disabled]="!puedeReservar()" (click)="reservar()">Reservar</button>
        </div>
      </div>
    </div>
    

</div>