<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-6 col-md-12" *ngFor="let lab of labs">
        <div class="card h-70" style="cursor: pointer;" [routerLink]="['/laboratorios/salas/', lab.id]">
          <h4 class="card-header bg-info text-center">{{ lab.id | uppercase }}</h4 >
          <div class="card-body">
            <!-- <h4 class="card-title"> {{ lab.id }} </h4> -->
            <p class="card-text"> {{ lab.name }} </p>
          </div>
        </div>
      </div>
  </div>
</div>