<div class="main-content">
  <div class="card">
    <div class="row no-gutters">
      <div *ngFor ="let room of rooms" class="col-md-4">
        <img src={{picture}} class="card-img" style="max-width: 100%;">
      </div>
      <div class="col-md-8">
        <div *ngFor="let room of rooms"  class="card-body">
          <h2 class="card-title text-uppercase"><b>{{room.name}}</b></h2>
          <p class="card-subtitle mb-1 text-muted font-italic">
            <small>Esta sala pertenece a <a href="#" class="text-reset"><b>{{room.manager_id}}</b></a>.</small>
          </p>
          <p class="card-text">{{room.description}}</p>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="items.length > 0" class="card"> <!--Verificar con ngIf si items es vacio-->
    <div class="card-header card-header-info">
      <h4 class="card-title">Componentes</h4>
      <p class="card-category">Objetos que posee la sala</p>
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-info">
          <th>Item</th>
          <th class="text-center">Cantidad</th>
          <th class="text-center">Descripcion</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of items" >
            <td class="text-capitalize">{{item.name}}</td>
            <td class="text-center">{{item.quantity}}</td>
            <td class="text-center">{{item.description}}</td><!--item.description ||-->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button type="button" class="btn btn-warning btn-lg btn-block" disabled>Horarios</button>
  <button type="button" class="btn btn-info btn-lg btn-block" disabled>Reservar</button>
</div>