<h1 mat-dialog-title>Confirmar Rechazo</h1>
<div mat-dialog-content>
  <p>&iquest;Est&aacute;s seguro de que deseas rechazar esta solicitud?</p>
</div>
<div mat-dialog-actions>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <button class="expand" mat-raised-button (click)="onCancelClick()">Cancelar</button>
      </div>
      <div class="col-6">
        <button class="expand" mat-raised-button color="warn" [mat-dialog-close]="true">Rechazar</button>
      </div>
    </div>
  </div>
</div>