.title {
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
}

.room {
    font-weight: bold;
    padding: 20px;
}

.materiales {
    padding: 20px;
    font-size: 18px;
}

.close {
    justify-content: flex-end;
    padding-top: 30px;   
}

.close-txt {
    font-size: 18px;
    border-color: red;
}

