<div class="main-content"> <!-- MAIN        REVISAAAAAAAR -->
    <div class="container-fluid">
    <div class="row"> <!-- ROW -->
        <div class="card"> <!-- CARD -->
            <div class="card-header card-header-tabs card-header-info">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Semanas: </span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a mat-button class="nav-link active" href="#especifica" data-toggle="tab">
                                    <i class="material-icons">calendar_today</i> Especifica
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#pares" data-toggle="tab">
                                    <i class="material-icons">filter_2</i> Pares
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#impares" data-toggle="tab">
                                    <i class="material-icons">filter_3</i> Impares
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#todas" data-toggle="tab">
                                    <i class="material-icons">format_list_numbered</i> Todas
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="card-body"> 
                  <div class="tab-content">
                      <div class="tab-pane active" id="especifica"> <!-- Especifica -->
                  
                      </div> <!-- Fin Especifica-->
                      <div class="tab-pane active" id="pares"> <!-- Pares -->
                          <div class="table-responsive">

                          </div>
                      </div> <!-- Fin Pares -->
                      <div class="tab-pane active" id="impares"> <!-- Impares -->

                      </div> <!-- Fin Impares -->
                      <div class="tab-pane active" id="todas"> <!-- Todas -->
              
                      </div><!-- Fin Todas -->
                  </div>
              </div>
        </div> <!-- FIN CARD -->
    </div> <!-- FIN ROW -->
  </div>
</div> <!-- FIN MAIN -->