<div class="main-content"> <!-- MAIN        REVISAAAAAAAR -->
    <div class="container-fluid">
    <div class="row"> <!-- ROW -->
        <div class="card"> <!-- CARD -->
            <div class="card-header card-header-tabs card-header-info">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <span class="nav-tabs-title">Semanas: </span>
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#especifica" data-toggle="tab">
                                    <em class="material-icons">calendar_today</em> Especifica
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#pares" data-toggle="tab" (click)="evenWeeks()">
                                    <em class="material-icons">filter_2</em> Pares
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link" href="#impares" data-toggle="tab" (click)="oddWeeks()">
                                    <em class="material-icons">filter_3</em> Impares
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a mat-button class="nav-link active" href="#todas" data-toggle="tab" (click)="allWeeks()">
                                    <em class="material-icons">format_list_numbered</em> Todas
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="card-body"> 
                  <div class="tab-content">
                      <div class="tab-pane" id="especifica"> <!-- Especifica -->
                        <div class="dropdown">
                            <button href="#" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="true" >
                                Semana
                                <strong class="caret"></strong>
                            </button>
                        <ul class="dropdown-menu">
                                <li><a (click)="specificWeek(1)">Semana 1</a></li>
                                <li><a (click)="specificWeek(2)">Semana 2</a></li>
                                <li><a (click)="specificWeek(3)">Semana 3</a></li>
                                <li><a (click)="specificWeek(4)">Semana 4</a></li>
                                <li><a (click)="specificWeek(5)">Semana 5</a></li>
                                <li><a (click)="specificWeek(6)">Semana 6</a></li>
                                <li><a (click)="specificWeek(7)">Semana 7</a></li>
                                <li><a (click)="specificWeek(8)">Semana 8</a></li>
                                <li><a (click)="specificWeek(9)">Semana 9</a></li>
                                <li><a (click)="specificWeek(10)">Semana 10</a></li>
                                <li><a (click)="specificWeek(11)">Semana 11</a></li>
                                <li><a (click)="specificWeek(12)">Semana 12</a></li>
                            </ul>
                        </div>
                        <div class="card">
                            <table mat-table [dataSource]="dataSource" class="table-bordered" summary="Horario del Laboratorio">
                                <!-- Hora Column -->
                                <ng-container matColumnDef="hora">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 10%" scope="col"> Hora </th>
                                  <td mat-cell *matCellDef="let element" class="text-center table-dark"> {{element.hora}} </td>
                                </ng-container>

                                <!-- Lunes Column -->
                                <ng-container matColumnDef="lunes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Lunes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.lunes === null, 'text-center table-info': element.lunes !== null}"> 
                                      <div *ngIf="element.lunes === null; else elseCase">
                                      </div>
                                      <ng-template #elseCase>
                                        <strong>{{element.lunes}}</strong>
                                      </ng-template>
                                   </td>
                                </ng-container>
                            
                                <!-- Martes Column -->
                                <ng-container matColumnDef="martes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Martes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.martes === null, 'text-center table-info': element.martes !== null}">
                                    <div *ngIf="element.martes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.martes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <!-- Miercoles Column -->
                                <ng-container matColumnDef="miercoles">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Miércoles </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.miercoles === null, 'text-center table-info': element.miercoles !== null}">
                                    <div *ngIf="element.miercoles === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.miercoles}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>

                                <!-- Jueves Column -->
                                <ng-container matColumnDef="jueves">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Jueves </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.jueves === null, 'text-center table-info': element.jueves !== null}">
                                    <div *ngIf="element.jueves === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.jueves}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                                
                                <!-- Viernes Column -->
                                <ng-container matColumnDef="viernes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Viernes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.viernes === null, 'text-center table-info': element.viernes !== null}"> 
                                    <div *ngIf="element.viernes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.viernes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                          </div>
                      </div> <!-- Fin Especifica-->
                      <div class="tab-pane" id="pares"> <!-- Pares -->
                        <div class="card">
                            <table mat-table [dataSource]="dataSource" class="table-bordered" summary="Horario del Laboratorio">
                                <!-- Hora Column -->
                                <ng-container matColumnDef="hora">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 10%" scope="col"> Hora </th>
                                  <td mat-cell *matCellDef="let element" class="text-center table-dark"> {{element.hora}} </td>
                                </ng-container>

                                <!-- Lunes Column -->
                                <ng-container matColumnDef="lunes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Lunes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.lunes === null, 'text-center table-info': element.lunes !== null}"> 
                                      <div *ngIf="element.lunes === null; else elseCase">
                                      </div>
                                      <ng-template #elseCase>
                                        <strong>{{element.lunes}}</strong>
                                      </ng-template>
                                   </td>
                                </ng-container>
                            
                                <!-- Martes Column -->
                                <ng-container matColumnDef="martes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Martes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.martes === null, 'text-center table-info': element.martes !== null}">
                                    <div *ngIf="element.martes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.martes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <!-- Miercoles Column -->
                                <ng-container matColumnDef="miercoles">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Miércoles </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.miercoles === null, 'text-center table-info': element.miercoles !== null}">
                                    <div *ngIf="element.miercoles === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.miercoles}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>

                                <!-- Jueves Column -->
                                <ng-container matColumnDef="jueves">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Jueves </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.jueves === null, 'text-center table-info': element.jueves !== null}">
                                    <div *ngIf="element.jueves === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.jueves}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                                
                                <!-- Viernes Column -->
                                <ng-container matColumnDef="viernes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Viernes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.viernes === null, 'text-center table-info': element.viernes !== null}"> 
                                    <div *ngIf="element.viernes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.viernes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                          </div>
                      </div> <!-- Fin Pares -->
                      <div class="tab-pane" id="impares"> <!-- Impares -->
                        <div class="card">
                            <table mat-table [dataSource]="dataSource" class="table-bordered" summary="Horario del Laboratorio">
                                <!-- Hora Column -->
                                <ng-container matColumnDef="hora">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 10%" scope="col"> Hora </th>
                                  <td mat-cell *matCellDef="let element" class="text-center table-dark"> {{element.hora}} </td>
                                </ng-container>

                                <!-- Lunes Column -->
                                <ng-container matColumnDef="lunes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Lunes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.lunes === null, 'text-center table-info': element.lunes !== null}"> 
                                      <div *ngIf="element.lunes === null; else elseCase">
                                      </div>
                                      <ng-template #elseCase>
                                        <strong>{{element.lunes}}</strong>
                                      </ng-template>
                                   </td>
                                </ng-container>
                            
                                <!-- Martes Column -->
                                <ng-container matColumnDef="martes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Martes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.martes === null, 'text-center table-info': element.martes !== null}">
                                    <div *ngIf="element.martes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.martes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <!-- Miercoles Column -->
                                <ng-container matColumnDef="miercoles">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Miércoles </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.miercoles === null, 'text-center table-info': element.miercoles !== null}">
                                    <div *ngIf="element.miercoles === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.miercoles}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>

                                <!-- Jueves Column -->
                                <ng-container matColumnDef="jueves">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Jueves </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.jueves === null, 'text-center table-info': element.jueves !== null}">
                                    <div *ngIf="element.jueves === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.jueves}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                                
                                <!-- Viernes Column -->
                                <ng-container matColumnDef="viernes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Viernes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.viernes === null, 'text-center table-info': element.viernes !== null}"> 
                                    <div *ngIf="element.viernes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.viernes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                          </div>
                      </div> <!-- Fin Impares -->
                      <div class="tab-pane active" id="todas"> <!-- Todas -->
                        <div class="card">
                            <table mat-table [dataSource]="dataSource" class="table-bordered" summary="Horario del Laboratorio">
                                <!-- Hora Column -->
                                <ng-container matColumnDef="hora">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 10%" scope="col"> Hora </th>
                                  <td mat-cell *matCellDef="let element" class="text-center table-dark"> {{element.hora}} </td>
                                </ng-container>

                                <!-- Lunes Column -->
                                <ng-container matColumnDef="lunes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Lunes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.lunes === null, 'text-center table-info': element.lunes !== null}"> 
                                      <div *ngIf="element.lunes === null; else elseCase">
                                      </div>
                                      <ng-template #elseCase>
                                        <strong>{{element.lunes}}</strong>
                                      </ng-template>
                                   </td>
                                </ng-container>
                            
                                <!-- Martes Column -->
                                <ng-container matColumnDef="martes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Martes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.martes === null, 'text-center table-info': element.martes !== null}">
                                    <div *ngIf="element.martes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.martes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <!-- Miercoles Column -->
                                <ng-container matColumnDef="miercoles">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Miércoles </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.miercoles === null, 'text-center table-info': element.miercoles !== null}">
                                    <div *ngIf="element.miercoles === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.miercoles}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>

                                <!-- Jueves Column -->
                                <ng-container matColumnDef="jueves">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Jueves </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.jueves === null, 'text-center table-info': element.jueves !== null}">
                                    <div *ngIf="element.jueves === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.jueves}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                                
                                <!-- Viernes Column -->
                                <ng-container matColumnDef="viernes">
                                  <th mat-header-cell *matHeaderCellDef class="table-dark text-center" style="width: 18%" scope="col"> Viernes </th>
                                  <td mat-cell *matCellDef="let element" [ngClass]="{'text-center': element.viernes === null, 'text-center table-info': element.viernes !== null}"> 
                                    <div *ngIf="element.viernes === null; else elseCase">
                                    </div>
                                    <ng-template #elseCase>
                                      <strong>{{element.viernes}}</strong>
                                    </ng-template>
                                  </td>
                                </ng-container>
                            
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table>
                          </div>
                      </div><!-- Fin Todas -->
                  </div>
              </div>
        </div> <!-- FIN CARD -->
    </div> <!-- FIN ROW -->
  </div>
</div> <!-- FIN MAIN -->