<div class="main-content"> 
  <div class="d-flex bt-margin">
    <button mat-stroked-button color="warn">
      <h3 class= "bt-solicitud " >Solicitudes Pendientes</h3>
    </button>
  </div>
  <div class= "tables">
    <div class="text-tab">
      <table mdbTable bordered="true">
        <thead>
          <tr>
            <th *ngFor="let head of headElements" scope="col">{{head}} </th>
          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let el of elements">
            <th scope="row">{{el.id}}</th>
            <td>
                {{el.first}}
            </td>
            <td>
              {{el.second}}
            </td>
            <td>
              {{el.time}}
            </td>
            <td>
              {{el.room}}
            </td>
            <td>
              <div >
                <button class="but">
                  <img src="assets/img/cancelar.svg">
                </button>
                <button class="but">
                  <img src="assets/img/check.svg">
                </button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
      
    </div>


  </div>
</div>