.bt-solicitud {
    margin: 10px;
    font-weight: 400;
}

.mat-stroked-button {
    border-color: #f44336;
}

.d-flex {
    display: flex;
    justify-content: center;
}

.bt-margin {
    padding-bottom: 80px;
}

.tables {
    display: flex;
    justify-content: space-around;
}
    
table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 15px;
  }

.but {
    border: none;
    background-color: Transparent;
}

.text-tab {
    text-align: center;
}