<div class="main-content"> 
  <div class="card">
    <div class="card-header-danger card-header" >
      <h4 class="card-title">Solicitudes</h4>
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-danger">
          <th>Solicitante</th>
          <th>Materia</th>
          <th class="text-center">Horario</th>
          <th class="text-center">Sala</th>
          <th class="text-center">Estado</th>
        </thead>
        <tbody>
          <tr>
            <td>Alvaro Avila</td>
            <td>Algoritmos I</td>
            <td class="text-center">1-2</td>
            <td class="text-center">Sala F</td>
            <td class="text-right">
              <button type="button" class="btn btn-success">Si</button>
              <button type="button" class="btn btn-danger">No</button>
            </td>
          </tr>
          <tr>
            <td>Pepito Perez</td>
            <td>Algoritmos III</td>
            <td class="text-center">3-4</td>
            <td class="text-center">Sala A</td>
            <td class="text-right">
              <button type="button" class="btn btn-success">Si</button>
              <button type="button" class="btn btn-danger">No</button>
            </td>
          </tr>
          <tr>
            <td>Coco Sete</td>
            <td>Calculo Numerico</td>
            <td class="text-center">6-7</td>
            <td class="text-center">Sala E</td>
            <td class="text-right">
              <button type="button" class="btn btn-success">Si</button>
              <button type="button" class="btn btn-danger">No</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>