<div class="main-content"> 
  <div class="card">
    <div class="card-header-info card-header" >
      <h4 class="card-title">Solicitudes</h4>
    </div>
    <div class="card-content table-responsive table-full-width">
      <table class="table">
        <thead class="text-info">
          <th>Solicitante</th>
          <th>Tipo</th>
          <th>Materia</th>
          <th>Sala</th>
          <th>Fecha de Solicitud</th>
          <th>Horario</th>
          <th *ngIf="userProfile.type !== 3333 ">Estado</th>
          <th *ngIf="userProfile.type == 3333 "> Aprobar </th>
        </thead>
        <tbody>
          <tr *ngFor="let request of requests">
            <td> {{ request.requester_id }} </td>
            <td> {{ request.type | userType }}</td>
            <td> {{ request.subject_id }}</td>
            <td> {{ request.room_id  }}</td>
            <td> {{ request.send_time | date }}</td>
            <td *ngIf="userProfile.type !== 3333 "> {{ request.status  }}</td>
            <td> <button mat-stroked-button>Ver Horario</button> </td>
            <td *ngIf="userProfile.type == 3333 ">
              <button type="button" class="btn btn-success">Si</button>
              <button type="button" class="btn btn-danger">No</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>